$colors: (
  p: (
    100: hsl(241, 68%, 60%),
    200: hsl(241, 42%, 54%),
    300: hsl(241, 97%, 57%),
    400: hsl(241, 42%, 54%),
    500: hsl(241, 42%, 54%),
  ),
  s: (
    100: hsl(219, 89%, 80%),
    200: hsl(219, 89%, 70%),
    300: hsl(219, 89%, 60%),
    400: hsl(212, 61%, 37%),
    500: hsl(219, 89%, 20%),
  ),
  youtube: hsl(345, 88%, 46%),
  resource: (
    10: hsl(311, 46%, 80%),
    20: hsl(311, 46%, 70%),
    30: hsl(311, 46%, 50%),
    40: hsl(311, 46%, 33%),
    50: hsl(311, 46%, 15%),
    ),
  course: (
    100: hsl(176, 66%, 70%),
    200: hsl(176, 66%, 60%),
    300: hsl(176, 66%, 40%),
    400: hsl(176, 66%, 30%),
    500: hsl(176, 66%, 20%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
    700: hsl(0, 0%, 40%),
    800: hsl(0, 0%, 30%),
    900: hsl(0, 0%, 15%)
  )
);